/* =Typography
-----------------------------------------------------------------------------*/
h1 {
	font-size: 2.5em;
	font-weight: normal;
}
p {
	font-size: 0.9em;
	line-height: 1.5em;
	margin: 0;
}

/* =Links
-----------------------------------------------------------------------------*/
a {
	color: black;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
a:hover {
  color: #FF8700;
}


/* =Layout
-----------------------------------------------------------------------------*/

#page {
	width: 98%;
	margin: 2em auto;
	position: relative;
}
#chart {
  /* either of these will work for horizontal Isotope layouts */
  height: 80%;
}

#chart .item {
	height: 4.5em;
	float: left;
	margin: 0.25em;
	padding: 0.25em;
	cursor: pointer;
	max-width: 7em;
}

#chart .item.major {
	min-width: 0;
	cursor: default;
}

#chart .item strong {
	color: #FF8700;
}


/* =Header
-----------------------------------------------------------------------------*/

#top-gradient {
	width: 100%;
	height: 20em;
	position: absolute;
	top: 0;
	background-image: linear-gradient(bottom, white 33%, #EDEDED 100%);
	background-image: -o-linear-gradient(bottom, white 33%, #EDEDED 100%);
	background-image: -moz-linear-gradient(bottom, white 33%, #EDEDED 100%);
	background-image: -webkit-linear-gradient(bottom, white 33%, #EDEDED 100%);
	background-image: -webkit-gradient(linear, top, bottom, color-stop(33%, white), color-stop(100%, #EDEDED));
	background-image: -ms-linear-gradient(bottom, white 33%, #EDEDED 100%);
}

#meta {
	position: absolute;
	top: 0;
	right: 0;
}


/* =Nav
-----------------------------------------------------------------------------*/
#buttons {
	margin: 2em 0;
	max-width: 90em;
}

#buttons .ui-controlgroup  {
	float: left;
	margin: 0 2em 1em 0;
}
#buttons .ui-button  {
    font-size: 0.9em;
}


/* =JQuery UI Tags
-----------------------------------------------------------------------------*/

#chart .item  .tags {
	position: absolute;
	bottom: 0;
	right: 0;
}

#chart .item  .tags > span {
	float: right;
	font-size: 0.8em;
	font-weight: normal;
	border: 0;
	margin: 0;
	padding: 0.05em 0.15em;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#chart .item.major .ui-state-default {
	background: transparent;
	border: 0;
	font-size: .8em;
	margin: 0;
	padding: 0;
}
#chart .item.major .ui-state-default .ui-icon {
	background-image: url(images/ui-icons_ffffff_256x240.png);
}

.tags .ui-button .ui-icon,
.item.major .ui-icon {
    cursor: help;
}


/* =JQuery UI Dialog
-----------------------------------------------------------------------------*/

.ui-dialog {
	-webkit-box-shadow: 0 0 30px gray;
	box-shadow: 0 0 30px gray;
}

.ui-dialog .ui-dialog-content .tags > span {
	padding: 0.05em 0.15em;
	margin: 10px 3px 0 0;
}


/* =Responsive
-----------------------------------------------------------------------------*/

@media (max-width: 650px) {
	#meta {
		margin-top: 1em;
		position: relative;
	}
	#page {
		width: 95%;
		margin: 1em auto;
	}
}
